{% extends "quotes/base.html" %}

{% block content %}


{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>Username</label>
        <div>
            {{ form.username }}
        </div>
    </div>
    <div class="form-group mb-1">
        <label>Password</label>
        <div>
            {{ form.password }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button>
</form>


{% endblock %}