{% extends "quotes/base.html" %}
{% load extract %}

{% block content %}
{% csrf_token %}

<div class="row">
    <div class="author-details">
        <h3 class="author-title">{{author.fullname}}</h3>
        <p><strong>Born:</strong> <span class="author-born-date">{{author.born_date}}</p>
        <p><strong>Born location:</strong> <span class="author-born-date">{{author.born_location}}</p>
        <span class="author-born-location"></span>
        <p><strong>Description:</strong></p>
        <div class="author-description">
            {{author.description}}
        </div>
    </div>
</div>

{% endblock %}
