{% extends "quotes/base.html" %}
{% load extract %}
{% block content %}
{% csrf_token %}

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{quote.quote}}</span>
            {% if quote.author %}
            <span>by <small class="author" itemprop="author">{{quote.author|author}}</small>
        <a href="{% url 'authors:detail' quote.author.id %}"> (about)</a>
        {% endif %}
        </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:find' tag.name%}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                {% if quotes.has_previous %}
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                       href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous</a>
                </li>
                {% endif %}
                {% if quotes.has_next %}
                <li class="next">
                    <a class="{% if not quotes.has_next %} disabled {% endif %}"
                       href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% endif %}">
                        Next <span aria-hidden="true">→</span></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="col-md-3 tags-box">
        <h2>Top Ten tags</h2>
        {% for tag in top_tags %}
        <p>
            <span class="tag-item">
                <a class="tag" href="{% url 'quotes:find' tag.name%}">{{tag.name}}</a>
            </span>
        </p>
        {% endfor %}
    </div>

</div>

{% endblock %}
